html {
    font-family: Verdana, sans-serif;
    background-color: black;
    text-align: center;
}

h1{
    font-weight: 400;
    color: white;
    font-size: 50px
}

a {
    color: aquamarine;
    font-size: 16px;
}
